<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<div class="menu">
        
      
        <!-- Menu icon close -->
        <div class="icon-close">
            <img src="/public_webapp/media/close.png" alt="no image found">
        </div>

        <!-- Menu -->
        <ul>
            <li><a href="/public_webapp/">Home</a></li>
            <li><a href="/public_webapp/ScooterList">Elenco scooter</a></li>
            <li><a href="/public_webapp/jsp/search.jsp">Cerca scooter</a></li>
            <li><a href="/public_webapp/jsp/booktest.jsp">Prenota prova</a></li>
            <li><a href="/public_webapp/jsp/contacts.jsp">Contatti</a></li>
        </ul>
    </div>

    <!-- Main body -->
    <div class="menu_bar">
      <div class="icon-menu" style="float:left">Menu</div>
      <div class="icon-login" style="float:right">
          <a href="/public_webapp/jsp/login.jsp">Login</a>  
      </div>
      <div style="clear:both;"></div>
    </div>
