/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-nov-2015, 23.48.09
    Author     : rc
*/

/*********************/
/* Scooter list page */

h3{
    color: black;
}

.price {
    font-weight: bold;
}

.centered{
    text-align: center;
}

li div.tools {
    margin-left: 40%;
}

ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img {
    width: 400px;
    height: 350px;
    margin: 0 0 10px;
}

#icon_tools{
    width: 38px;
    height: 38px;
}

ul.rig li h3 {
    margin: 0 0 5px;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1em;
    color: black;
}
/* class for 2 columns */
ul.rig.columns-2 li {
    width: 45%; 
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: 30.5%; 
}