/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-nov-2015, 11.46.43
    Author     : rc
*/

/******************/
/* Index page */

/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: auto;
  position: relative;
  background: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding: 10px 200px 10px 200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

.text_small {
  font-size: small;
}

.text_very_small {
  font-size: x-small;
}

.text_normal {
  font-size: medium;
}

.text_big {
  font-size: large;
}

.text_very_big {
  font-size: x-large;
}

div.centered {
  text-align: center;
}

.vertically_centered {
    position: relative;
    top: 200px;
}

.vertically_search_centered {
    position: relative;
    top: 70px;
}

.welcome {
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 70px;
}

.foot {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 550px;
    bottom: 10px;
}

/* Initial menu */
.menu {
        
  background: #003336;
  left: -250px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 250px;
}

/* Basic styling */
.menu_bar {
  background: #003336;
  height: 62px;
  border-bottom: 1px solid #636366;
}

.menu ul {
  border-top: 1px solid #636366;
  border-right: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  height: 17px;
  width: 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-login {
  color: #fff;
  cursor: pointer;
  height: 17px;
  width: 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right:60px;
}

.icon-menu i {
  margin-right: 5px;
}

#menu {
  margin: auto;
  color: black;
  height: 30px;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.admin-logged {
  color: #fff;
  height: 17px;
  width: 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right:60px; 
}

/******************/
/* Contacts page */

.first_col {
    float: left;
    width: 60%;
    higth: 90%;
}

.second_col {
    float: right;
    width: 40%;
    higth: 90%;
}
.row { 
    height: auto;
}

.contact-informations {
    text-align-last: right;
    color: black;
}

.google-map-container {
    margin-left: 30%;
}

.link {
    color: #6AB7D1;
} 

/******************/
/* Login page */

.login_form {
    text-align: center;
    width: 300px;
    height: 250px;
    position: absolute;
    left: 41%;
    top: 100%; 
    margin-top: 200px;
}

.button {
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    color: white;
    background-color: #003336;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}

input {
    box-shadow: none;
    border: 1px solid silver;
    height: 40px;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: center;
}

.login_wrong_form {
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 300px;
    height: 250px;
    position: absolute;
    left: 41%;
    top: 100%; 
    margin-top: 500px;  
}

/******************/
/* Error page and advise messages */

.advise_form {
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 100%; 
  margin-top: 200px;
}

/******************/
/* New scooter page */

.new_form {
    text-align: center;
    width: 300px;
    height: 600px;
    position: absolute;
    left: 41%;
    top: 100%; 
    margin-top: 50px;
}

.new_wrong_form {
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 300px;
    height: 250px;
    position: absolute;
    left: 41%;
    top: 100%; 
    margin-top: 700px;  
}

/******************/
/* Upload photo page */

.photo_form {
    text-align: center;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 35%;
    top: 100%; 
    margin-top: 300px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

